@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome op ons tuinblog</h1>
    <p>Op deze website kan je alles vinden over onze tuin.</p>
    <p>Je kan hier ook een blog vinden met allemaal tips en tricks over tuinieren.</p>
    <p>Veel plezier!</p>
</div>
